* {
  margin: 0;
  padding: 0;

}

html, body {
  height: 100%;
  
}
main{
  overflow: hidden;
}

.navigation{
    background-color:#e31837 ; 
    background-position: center;
    max-height: 200px;
 
}

/* SLOGAN */

.slogan {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
    max-width: 800px;
    padding: 20px;
  }

  
  
  .slogan h1 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(235, 240, 67); 
    text-shadow: 2px 2px 8px rgb(105, 53, 10);
    margin-bottom: 10px;
  }





.above-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -50px 2rem;
    /*  */
}

.above-nav img {
    width: 20vw;
    height: 20vh;
    object-fit: cover;
}

.right-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-auth {
    display: flex;
    align-items: center;
    gap: 1vw;
  padding: 0.4rem;
}

.beween p {
  
  font-size: 3rem;
  
  font-weight: bold;
}


.user-auth a {
    text-decoration: none;
    color: #ffffff;
    box-shadow: 
        0 0 3px 0 #00000066,
        0 0 2px 0 #0000004d;
    transition: color 0.3s, background-color 0.3s;
    padding: 0.5rem 1.5rem;
    font-size: medium;

}
.user-auth  a:hover{
  background-color: #ed4190;
  color: yellowgreen;
}



.user-auth i {
    font-size: 35px;
    color: rgb(235, 240, 67);
   
}



 .cart {
  padding: 0 1rem;
    font-size: 35px;
    color: rgb(235, 240, 67);

}

.cart i {
    padding-top: 5px;
   
} 


.main-nav {
  padding-left: 2vw;
  /* justify-content: space-between; */
  display: flex;
}

.main-nav .compo a {
  text-decoration: none; 
  color: #ffffff;
  display: inline-block;
  padding: 10px 20px;
  transition: color 0.4s, background-color 0.2s;
  box-shadow:  2px 2px 8px rgb(105, 53, 10);
  margin-bottom: 1rem;
}

.main-nav .compo a:hover {
  color: #fff;
  background-color: #ed4190;
}

.search {
  display: flex;
 margin-left: 10vw;
}

.input {
  position: relative;
  width: 18rem;
  padding: 0 1rem;
}

.input input {
  width: 100%;
  padding: 10px 40px 10px 10px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input i {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-75%);
  font-size: 25px;
  color: #ccc;
}

  
  


.banner{
    margin-top: 3rem;
}

.banner img{
    width: 100%;
    height: 60%;
   object-fit: cover;
}



/* FOOTER OF PAGES */
 footer{
   margin-top: 10vh;
padding-top: 3rem ;
  background-color: #e31837; 

} 

.last-footer{
  background-color: #cb102c;
  padding: 1rem;
}
.last-footer p{
  text-align: center;

} 

.main-contents{
  display: flex;
}

.logo-infooter{
  padding: 0 ;
}


.second-content{
  margin: 0 50px;
}



.second-content .order img{
  width: 20vw;
  height: 8vh;
}

.third-content .mix-logo img{
  width: 100px;
  height: 50px;
  margin: 3rem 0;

} 
.third-content .draw{
  border-bottom: 2px solid rgb(5, 17, 20);
  margin: 20px;
}





.third-content .mix-logo{
  margin: 2rem 0;
}

.third-content .anh1 img{
  width: 150px;
  height: 70px;
}

.third-content p i{
 color: #fff;
font-size: 25px;
}

.logo-infooter img{
  width: 12vw;
  height: 20vh;
  object-fit: cover;
}


.second-content p, .first-content p, .third-content p{
  margin: 20px 10px;
  font-weight: bold;
}

/* END FOOTER */

/* MAIN PAGE */
main{
  margin: 5rem 0;
 
}

.menu{
  display: flex;
  justify-content: space-between; 
}


/* LEFT-BANNER */
.left-banner img{
  width: 18rem;
    height: 14rem;
  object-fit: contain;
  margin-bottom: 10px;
}
.left-banner { 
  background-color: #e31837;
  width: 100%;
  margin-top: 2.85rem;
  max-height: 48.5rem;
  padding: 0.3rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-pets{
  display: flex;
  margin-top: 9vh;
}


.container-pets img{
  padding: 0.6rem;
  width: 3rem;
  height: 3rem;
}
.intro .title {
  font-size: 2rem; 
  font-family: 'MergeBlack', sans-serif;
  color: white;
  margin-bottom: 10px;
}

.intro .content {
  font-size: 1rem;
  color: white;
  padding-bottom: 2rem;
  line-height: 1.5;
}

  
/* PRODUCTIONS */

.products {
  display: flex;
  flex-direction: column; 
  padding: 0 1.5vw 0 0;
}
.sale-off {
  text-decoration: line-through;
  color: red; /* Optional: You can add a color to distinguish the sale price */
}

.value{
  font-weight: bold;
  color: rgb(24, 194, 183);
}
.best-sell{
  margin-bottom: 4rem;
}
.hot-sell{
  margin:5px;
}

.best-sell, .hot-sell {
  display: flex;
  flex-direction: column; 
  width: 75vw;
}

.best-sell .name-class, .hot-sell .name-class{
  text-align: center;
 margin-bottom: 1vh;
}

.product {
  border: 2px solid rgb(233, 42, 42);

box-shadow:2px 2px 5px 1px #b9df2e;
  text-align: center;
  margin-bottom: 1.5rem;
}

.product img {
  height: 11rem;
  object-fit: cover;
  width: 100%;
 
}

.product-detail {
  padding: 1vh 0; 
}



.add:hover {
  background-color: rgb(199, 30, 11);
}


.product-detail {
  padding: 10px 0;
}

.add {
  background-color: red;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  margin: 10px auto;
}


.pro-of-best .product, .pro-of-hot .product{
  margin-left: 13px;
}




.button{
  display: flex;
  justify-content: center;
  align-items: center;

}

.button i{
  font-size: medium;
margin-left: 1rem;
}

.button i:hover{
  background-color: aqua;
}

 /* Custom styling for the dots (this one has had when we used a customPaging in jquery*/
 .slick-dots {
  text-align: center;
  bottom: -40px !important;
  margin: 10px 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots li i {
  font-size: 14px;
  color: #bbb;
}

.slick-dots li.slick-active i {
  color: #333;
}


/* NEWS */

  .news{
    margin-top: 2rem;
  text-align: center;
    background-size: cover;
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    background-attachment: fixed;  /* Keeps the background fixed when scrolling */
    background-image: url('./components/assets/backgrNews.jpg');
  }

  .check{
    background-color: #b9df2e;
    margin-left: 1rem;
    border-radius: 1rem;
    max-width: 22rem;

  }

  .check .img-of-check img{
   width: 100%;
   height: 12rem;
  }



  .news h1 {
    display: inline-block;  
    margin: 1rem 0;
    border: 2px solid greenyellow;
    padding: 1rem; 
    background-color: aqua;
    border-radius: 2rem;
}



  .check h3{
    margin-top: 1vh;
    height: 2rem;
   
  }

  .check p{
    padding: 3vh 0;
  }

  .contain-a {
    margin-bottom: 1rem;
    margin-top: auto;
  }

  .contain-a a{
   border-radius: 0.5rem;
    text-transform: uppercase;
    text-decoration: none; 
    color: #fff;
    border: 2px solid red;
    background-color: #e31837;
    padding: 0.5rem 0;
  }




  /* SET DAY TIME LEFT MAIN */
  .container-time {
    width: 10rem;
    height: 8rem;
    border: 2px solid black;
    padding: 0.5rem 0;
    background-color: rgb(240, 203, 232);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    border-radius: 10px;
  }

  #set-day {
    font-size: 20px;
    font-weight: 900;
    padding: 0.5rem;
    color: rgb(74, 21, 49);
  }

  #set-hour {
    font-size: medium;
    font-weight: bold;

    text-decoration: double;
    padding: 0.5rem;
  }


  .sun img{
width: 3.5rem;
height: 3rem;
  }
 
  .moon img{
    width: 3.5rem;
    height: 3rem;

      }

      /* FOR TOAST */


      .blurred {
        opacity: 0.3; 
      }


      .toast {
        position: absolute;
        top: 30px;
       
        background-color: rgb(243, 84, 27);
        box-shadow: 0 6px 43px rgb(0 0 0 / 40%);
        padding: 15px 20px;
        overflow: hidden;
        transition: all 1s;
        transform: translateX(100%); 
        opacity: 0; 
      }
      .toast.active {
        transform: translateX(0);
        opacity: 1; 
      }
      .toast-content {
        display: flex;
        align-items: center;
      }
   .toast-content .chickenicon img{
    width: 3rem;
    height: 3rem;
   }
      .message {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
      }
      .text {
        font-size: 20px;
      }
      .text-1 {
        font-weight: bold;
        color: aqua;
      }
      .text-2 {
        color: aliceblue;
        margin-top: 10px;
      }
   
      .text-2 .pengui img{
        width: 3rem;
        height: 3rem;
       margin-top: 1rem;
      }

      #closeToast {
        cursor: pointer;
        font-size: 20px;
        color: aliceblue;
      }

      .propress {
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        position: absolute;
        background-color: #03db90;
        box-shadow: 0 0 5px #aa06eb, 0 0 10px #7a09a6, 0 0 20px #7f03af,
          0 0 30px #560477;
      }

      .toast.active .propress {
        animation: progress 5s 1s linear;
      }

      @keyframes progress {
        100% {
          width: 100%;
        }
      }
