* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  margin: 0px auto;
  height: 100%;
}

/* ////////// B.E.M ///////// */

.page {
margin: 0 auto;
display: grid;
grid-template:
  'header'
  'main'
  'footer';
}

.title_1{ grid-area: title_1;}
.title_2{ grid-area: title_2;}
.logo-infooter{grid-area: logo;}
.first-content{grid-area: first;}
.second-content{grid-area: second;}
.third-content{grid-area: third;}
.last-footer{grid-area: last;}



/* .page-main{
  display: grid;
grid-template-areas:
  'page-main-banner'
  'page-main-menu'
;
} */

.page-main-menu {
display: grid;
grid-template-areas:
  'title_1 title_1 title_1 title_1'
  'item-1 item-2 item-3 item-4'
  'item-5 item-6 item-7 item-8'
  'title_2 title_2 title_2 title_2'
  'item-9 item-10 item-11 item-12'
  'item-13 item-14 item-15 item-16';
gap: 3px;
background-color: #fff4bb;
padding: 3px;
} 
.title{
  font-style: italic;
}

.page-footer{
  display: grid;
  grid-template-areas:
    'logo first second third'
    'last last last last';
  background-color: rgb(203, 16, 44);
gap: 3px;

}



.page-main-menu > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3.2rem 0;
  font-size: 2rem;
  text-align: center;
}

header{
  background-color:#e31837 ; 
  background-position: center;
  max-height: 2000px;
display: grid;
grid-template-rows: repeat(3,1fr);
}

/* SLOGAN */

.slogan {
margin-left: 5rem;

}

.slogan h1 {
 
  font-size: 2rem;
  font-weight: bold;
  color: rgb(98, 250, 250); 
  text-shadow: 2px 2px 8px rgb(97, 237, 245);
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;

}





.page-header-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: -50px 2rem;
  /*  */
}

.page-header-one img {
  width: 20vw;
  height: 20vh;
  object-fit: cover;
}

.right-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-auth {
  display: flex;
  align-items: center;
  gap: 1vw;
padding: 0.4rem;
}

.beween p {

font-size: 3rem;

font-weight: bold;
}


.user-auth a {
  text-decoration: none;
  color: #ffffff;
  box-shadow: 
      0 0 3px 0 #00000066,
      0 0 2px 0 #0000004d;
  transition: color 0.3s, background-color 0.3s;
  padding: 0.4rem 1.5rem;
  font-size: medium;

}
.user-auth .icon-log a{
padding: 1rem 0.5rem;
font-size: 1.8rem;
background-color: #66dcd2;
border-radius: 25%;
}
.icon-log a i{
border: 2px solid rgb(43, 92, 255);
border-radius: 50%;
}


.user-auth  a:hover{
background-color: #ed4190;
color: yellowgreen;
}



.user-auth i {
  font-size: 2rem;
  color: rgb(235, 240, 67);
}



.shopping-cart {
cursor: pointer;
padding: 0 1rem;
  font-size: 35px;
  color: rgb(235, 240, 67);

}

.shopping-cart .no-ordered-items {
  padding-top: 5px;
  position: absolute;
  color: #fff;
  right: 3px;
  top: 135px;
  font-size: 0.65rem;
  font-weight: bold;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid rgb(235, 240, 67);
} 

.shopping-cart .icon-cart {
font-size: 2.5rem;
color: rgb(235, 240, 67);
}

.shopping-cart > .no-ordered-items:hover {
background-color: rgb(235, 240, 67);
color: black;
}



.search {
display: flex;
margin-left: 10vw;
margin-bottom: 1rem;
}

.input {
position: relative;
width: 100%;
max-width: 18rem;
padding: 0 1rem;
align-items: center;
display: flex;

}

.input input {
width: 100%;
padding: 10px 40px 10px 10px; 
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
border: 2px solid rgb(253, 143, 199);
flex: 1;
}

.input i{
position: absolute;
right: 1.5rem;
font-size: 25px;
color: #fab299;
pointer-events:all;
}
.input i:hover {
color: black; 
}

/* banner */

.page-main-banner{
    margin-top: 2rem;
}

.page-main-banner img{
    width: 100%;
    height: 35rem;
   object-fit: cover;
}

/* PAGE-MAIN-RUN*/
.run {
  color: #03db90;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  top: 3rem;
}



/* FOOTER OF PAGES */
 footer{
   margin-top: 10vh;
  padding-top: 1.5rem ;
  background-color: #e31837; 

} 

.last-footer{
  background-color: #36f5f2;
  padding: 1rem;
}
.last-footer p{
  text-align: center;

} 

.main-contents{
  display: flex;
}

.logo-infooter{
  padding: 0 ;
}


.second-content{
  margin: 0 50px;
}



.second-content .order img{
  width: 20vw;
  height: 8vh;
}

.third-content .mix-logo img{
  width: 100px;
  height: 50px;
  margin: 3rem 0;

} 
.third-content .draw{
  border-bottom: 2px solid rgb(5, 17, 20);
  margin: 20px;
}


.fa-envelope:before,.fa-facebook:before {
  content: "\f0e0";
  color: blue;
}

.third-content .mix-logo{
  margin: 2rem 0;
}

.third-content .anh1 img{
  width: 150px;
  height: 70px;
}

.third-content p i{
 color: #fff;
font-size: 25px;
}

.logo-infooter img{
  width: 12vw;
  height: 20vh;
  object-fit: cover;
}


.second-content p, .first-content p, .third-content p{
  margin: 20px 10px;
  font-weight: bold;
}

/* END FOOTER */

/* MAIN PAGE*/
main{
  margin: 5rem 0;
 
}


/* LEFT-BANNER */
.left-banner img{
  width: 18rem;
    height: 14rem;
  object-fit: contain;
  margin-bottom: 10px;
}
.left-banner { 
  background-color: #e31837;
  margin-top: 2.8rem;
  max-height: 47rem;
 
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-pets{
  display: flex;
  margin-top: 9vh;
}


.container-pets img{
  padding: 0.6rem;
  width: 3rem;
  height: 3rem;
}
.intro .title {
  font-size: 2rem; 
  font-family: 'MergeBlack', sans-serif;
  color: white;
  margin-bottom: 10px;
}

.intro .content {
  font-size: 1rem;
  color: white;
  padding-bottom: 2rem;
  line-height: 1.5;
}

  
/* PRODUCTIONS */

.product {
  border: 2px solid rgb(233, 42, 42);
  margin-left: 4rem;
  transform: translateX(-0.7rem);
  box-shadow: 2px 2px 5px 1px #b9df2e;
  text-align: center;
  margin-bottom: 1.5rem;
  width: 16rem;
  max-height: 23rem;
  padding: 0; 
}

.product img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
transform: translateY(-26.2%);
}
.product-detail {
 position: relative;
 bottom: 2rem;
}



.add:hover {
  background-color: rgb(199, 30, 11);
}


.value{
  font-weight: bold;
  color: rgb(24, 194, 183);
  font-size: 20px;
  
}


.add {
  background-color: red;
  color: white;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 5px;
  width: 50%;
  text-align: center;
 margin: 0 auto;
  font-size: 20px;
}


 /* Custom styling for the dots */
 .slick-dots {
  text-align: center;
  bottom: -40px !important;
  margin: 10px 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots li i {
  font-size: 14px;
  color: #bbb;
}

.slick-dots li.slick-active i {
  color: #333;
}

.slick-prev:before {
  content: '';
}
/* NEWS */

  .news{
    margin-top: 2rem;
  text-align: center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;  
    background-image: url('./components/assets/backgrNews.jpg');
  }

  .check{
    background-color: #b9df2e;
    margin-left: 1rem;
    border-radius: 1rem;
    max-width: 22rem;

  }

  .check .img-of-check img{
   width: 100%;
   height: 12rem;
/* padding-top: 1rem; */
  }



  .news h1 {
    display: inline-block;  
    margin: 1rem 0;
    border: 2px solid greenyellow;
    padding: 1rem; 
    background-color: aqua;
    border-radius: 2rem;
    font-size: 1.6rem;
}



  .check h3{
    padding: 1rem 0;
    height: 2rem;
    background: #6ee7ab;
    border-radius: 5px;
  }

  .check p{
    padding: 3vh 0;
  }

  .contain-a {
    margin-bottom: 1rem;
    margin-top: auto;
  }

  .contain-a a{
   border-radius: 0.5rem;
    text-transform: uppercase;
    text-decoration: none; 
    color: #fff;
    border: 2px solid red;
    background-color: #e31837;
    padding: 0.5rem 0;
  }




  /* SET DAY TIME LEFT MAIN */
  .container-time {
    width: 10rem;
    height: 9rem;
    border: 2px solid black;
    padding: 0.5rem 0;
    background-color: #f8ffce;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    border-radius: 10px;
  }

  #set-day {
    font-size: 20px;
    font-weight: 900;
    padding: 0.5rem;
    color: rgb(74, 21, 49);
  }

  #set-hour {
    font-size: medium;
    font-weight: bold;

    text-decoration: double;
    padding: 0.5rem;
  }


  .sun img{
width: 3.5rem;
height: 3rem;
  }
 
  .moon img{
    width: 3.5rem;
    height: 3rem;

      }

      /* FOR TOAST */


      .blurred {
        opacity: 0.3; 
      }


      .toast {
        position: absolute;
        top: 30px;
       
        background-color: rgb(243, 84, 27);
        box-shadow: 0 6px 43px rgb(0 0 0 / 40%);
        padding: 15px 20px;
        overflow: hidden;
        transition: all 1s;
        transform: translateX(100%); 
        opacity: 0; 
      }
      .toast.active {
        transform: translateX(0);
        opacity: 1; 
      }
      .toast-content {
        display: flex;
        align-items: center;
      }
   .toast-content .chickenicon img{
    width: 3rem;
    height: 3rem;
   }
      .message {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
      }
      .text {
        font-size: 20px;
      }
      .text-1 {
        font-weight: bold;
        color: aqua;
      }
      .text-2 {
        color: aliceblue;
        margin-top: 10px;
      }
   
      .text-2 .pengui img{
        width: 3rem;
        height: 3rem;
       margin-top: 1rem;
      }

      #closeToast {
        cursor: pointer;
        font-size: 20px;
        color: aliceblue;
      }

      .propress {
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        position: absolute;
        background-color: #03db90;
        box-shadow: 0 0 5px #aa06eb, 0 0 10px #7a09a6, 0 0 20px #7f03af,
          0 0 30px #560477;
      }

      .toast.active .propress {
        animation: progress 5s 1s linear;
      }

      @keyframes progress {
        100% {
          width: 100%;
        }
      }




      .page-header-tow {
        padding-left: 2vw;
        justify-content: space-between;
        display: flex;
        align-items: center;
        position: relative;
     padding-top: 0.5rem;
      }
      .page-header-tow2 {
        display: flex;
        align-items: center;
      }
  
      .main-nav a {
        text-decoration: none;
        color: #ffffff;
        display: inline-block;
        padding: 10px 20px;
        transition: color 0.4s, background-color 0.2s;
        box-shadow: 2px 2px 8px rgb(105, 53, 10);
        margin-bottom: 1rem;
      }
  
 
      .mobile-menu-btn {
        display: none;
        cursor: pointer;
        margin-right: 1rem;
      }
  
      .menu-icon {
        font-size: 24px;
      }

      @media (max-width: 740px) {
        .main-nav {
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          overflow: hidden;
 transform: translateY(-3%);
        }
  
        .main-nav a {
          display: block;
          width: 26rem;
          font-size: 2rem;
          color: #ffffff;
          background-color: #f85050;
          margin: 0;
          padding: 1.2rem;
        }
  
        .mobile-menu-btn {
          display: block;
        }
  
        .menu-icon {
          color: white;
          transform: translateY(-20%);
        }
        .fa-bars:before{
          font-size: 3.5rem;
          
        }
        .search{
          position: relative;
          left: -10rem;
        }
        .input input{
          height: 4rem;
            font-size: 1.5rem;
            width: auto;
        }
        .input i{
          font-size: 2rem;
          transform: translateX(100%);
        }
        .user-auth {
          margin-right: 5rem;
        }
        .page-header{
          height: 16rem;
        }
        .user-auth a{
          width: 150px;
          height: 50px;
          font-size: ;
        }
      }